*{
    margin: 0px;
    padding: 0px;
}
    
#header{
    padding-bottom: 30px;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    background-image:url(./fotos/galaxia.jpg);
    background-size: 100% 100%;
}
#name{
    margin-right: 50px;
    display: block;
    font-size: 30px;
    text-align: right;
}  
#header-name{
    text-decoration: underline;
    color: rgb(206, 197, 197);
    text-shadow: 5px 7px black
}
#description{
    color:rgb(206, 197, 197);
    text-shadow: 5px 0px rgb(78, 23, 23);
    font-size: 20px;
    font-style: italic;
}

#profile-picture{
    display: block;
    margin-left: 35px;
    width: 200px;
    border-radius: 100%;
    margin-top: 10px;
}


body{
    background-color:black;
    color: black;
    font-family: 'Anton',sans-serif;
    
    font-size: 20px;
}
h2{
    font-weight: 600;
    font-size: 50px;
}
p{
    text-align: left;
    font-size: 20px;
}

.candy-picture{
    width: 220px;
    vertical-align:bottom;
    margin-left:100px;
    margin-right: 75px;
}
#FotoA{
    margin-top: -15px;
    margin-left: 41px;
}
#FotoB{
    margin-top: -34px;
    margin-left: 561px;
}
#FotoC{
    margin-top: -34px;
    margin-left: 923px;
}
.candy-description{
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
}