*{
    margin: 0px;
    padding: 0px;
}
    
#header{
    padding-bottom: 30px;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    background-image:url(./fotos/galaxia.jpg);
    background-size: 100% 100%;
}
#names{
    margin-right: 50px;
    display: block;
    font-size: 35px;
    text-align: right;
    font-weight: 1000;
}  
#header-name{
    text-decoration: underline;
    color: rgb(206, 197, 197);
    text-shadow: 5px 7px black;
}
#description{
    color:rgb(206, 197, 197);
    text-shadow: 5px 0px rgb(78, 23, 23);
    font-size: 25px;
    font-style: italic;
}

#profile-picture{
    display: block;
    margin-left: 35px;
    width: 200px;
    border-radius: 100%;
    margin-top: 10px;
}
#sumary{
    padding-top: 40px;
    padding-left: 50px;
}

body{
    background-color:black;
    color: rgb(206, 197, 197);
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 400;
}
h2{
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 2px aqua;
}
a:link, a:visited{
    text-decoration: none;    
    color: rgb(206, 197, 197);
}
a:hover{
    font-size: 35px;
}
a:active{
    text-decoration: underline;
}
p{
    text-align: left;
}

.candy-picture{
    width: 220px;
    vertical-align:bottom;
    margin-left:100px;
    margin-right: 75px;
}
#FotoA{
    margin-top: -15px;
    margin-left: 41px;
}
#FotoB{
    margin-top: -34px;
    margin-left: 561px;
}
#FotoC{
    margin-top: -34px;
    margin-left: 923px;
}
.candy-description{
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
}