*{
    margin: 0px;
    padding: 0px;
}
    
#header{
    padding-bottom: 30px;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
    background-image:url(./fotos/galaxia.jpg);
    background-size: 100% 100%;
}
#names{
    margin-right: 50px;
    display: block;
    font-size: 35px;
    text-align: right;
    font-weight: 1000;
}  
#header-name{
    text-decoration: underline;
    color: rgb(206, 197, 197);
    text-shadow: 5px 7px black;
}
#description{
    color:rgb(206, 197, 197);
    text-shadow: 5px 0px rgb(78, 23, 23);
    font-size: 25px;
    font-style: italic;
}

#profile-picture{
    display: block;
    margin-left: 35px;
    width: 200px;
    border-radius: 100%;
    margin-top: 10px;
}
.sections{
    padding: 40px 50px 20px;
}

body{
    background-color:black;
    color: rgb(206, 197, 197);
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 400;
}
h2{
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 2px aqua;
}
a:link, a:visited{
    text-decoration: none;    
    color: rgb(206, 197, 197);
}
.link-upper:hover{
    font-size: 35px;
}
p{
    text-align: left;
}
#description-paragraph{
    width: 75%;
}
#candy-section{
    display: flex;
}
.candys{
    display: block;
}

.candy-picture{
    width: 220px;
    margin-right: 80px;
    margin-left: 80px;
}
.candy-description{
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    font-style: italic;
}
#cacau-instagram:link, #cacau-instagram:visited{
    text-decoration: underline;
}
#rocket{
    display: flex;
    align-items:baseline;
}
#rocket-gif{
    width: 50px;
    display: block;
}
#github:hover{
    color: #6e5494;
}

#instagram:hover{
    background: radial-gradient(at 50% 50%,#405DE6,#5851db,#883ab4,#C13584,#e1306c,#fd1d1d,#f56040,#f77737,#fcaf45,#ffdc80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#linkedin:hover{
    color: rgb(40,103,178); 
}
#facebook:hover{
    color: rgb(66,103,178);
}
#sections-blogs{
    display: flex;
}
#top-paragraph{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}
a:active{
    text-decoration: underline;
}
.summary-links:hover{
    color: aqua;
    font-weight: 800;
}
#top-link:hover{
    text-decoration: underline;
}