header {
  color: black;
  background-color: #cc3800;
  padding: 2.5rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  opacity: 0.75;
}

a:hover{
  opacity: 1;
}

.media {
  font-size: 1.5rem;
}

.media a {
  margin-right: 1rem;
}
