header {
  color: black;
  background-color: #9164FA;
  padding: 3rem 1rem;
  margin-bottom: 1rem;
}

.header-container {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 2.5rem;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  opacity: 0.75;
}

a:hover{
  opacity: 1;
}
