.post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 0.5rem;
  width: 40%;
}

.post {
  color: #494D4B;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #FFF;
  border-radius: 1.5rem;
  background-color: #FFF;
}

.post h2{
  text-align: center;
  margin-bottom: 1rem;
}

.post p {
  width: 80%;
  margin: auto;
  font-size: 1.1rem;
  line-height: 130%;
  text-align: center;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link{
  color: #494D4B;
  text-decoration: none;
  text-align: right;
}

.link:visited {
  color: #494D4B;
}

.link:hover {
  color: black;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .post h2 {
    font-size: 1.3rem;
  }

  .post p {
    font-size: 0.9rem;
  }

  .post-container {
    width: 80%;
  }
}