main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #224957;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}